@charset "UTF-8";
/* nav styles */
.nav_links{
	list-style: none;
}
.nav_links li{
	display: inline-block;
	padding: 0px 20px;

}
.nav_links li a{
	transition: all 0.3s ease 0s;
	text-decoration: none;
	margin: right;
	color: white;
}

.nav_links a:hover {
  color: #FDFD03;
}
.nav_links li {
	font-family: 'Source Code Pro', monospace;
	font-weight: bold;
    font-style: italic;
}

 header{
 	display: flex;
 	align-items: center;
 	padding: 12px 5%;
 	justify-content: space-between;
 	padding-top: 40px;

 }
 

/*----------------------------*/
body{
	background-image: url("Project2_Images/BlackandWhite/Tennis-Court-Black-White-Line-Photography.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px 0px;
    background-color:#1A1818 ;
    margin: 0;
    width: 100%;
    height: 700px;
    background-position: center;
       
}

.Title1 h1 {
    font-family: "good-times", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    color: white;
    margin-left: 5%;
    text-align: left;
    padding-top: 18%;
    padding-top: 26%;
  }

/*---------------YELLOW--------------*/  
.Member h4{
font-family: 'Source Code Pro', monospace;
	font-weight: 400;
    font-size: 20px;
    padding-left: 52px;
}

.Member{
  background-color:#FDFD03 ;
  display: flex;
  padding-block: 10px;
}
.Member button{
	margin-left: 20px;
}
.Member a button{

	background-color: transparent;
 	border: solid 3px  #1A1818;
 	border-radius: 60px;
 	cursor:pointer;
 	transition: all 0.3s ease 0s;	
 	text-align: center;
    width: 90%;
    font-size: 13px;
    height: 30px;
}
.Member a{
	margin-left: 73%;
}

/*----------------FORM------------------*/
.Question{
	font-family: "News Cycle";
    font-weight: 300;
    font-size: 30px;
    color: white;
    text-align: center;
}
.container {
    width: 80%;
    margin-left: 20%;
}
.contact-box{
	background-color: white;
	 padding-bottom: 40px;
}
.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}
.input-row{
	font-family: "News Cycle";
    font-weight: 300;
    font-size: 18px;
	margin-bottom: 20px;
}
.input-row .input-group{
	flex-basis: 45%;

}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #393838;
	outline: none;
	padding-bottom: 10px;

}
textarea{
	width: 90%;
	border: 1px solid #393838;
	outline: none;
	padding: 5px;
	box-sizing: border-box;
	height: 200px;
	margin-left: 60px;
}

button{
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
    font-size: 16px;
	background:#FDFD03;
	width: 100px;
	border: none;
	outline: none;
	color: black;
	height: 35px;
	border-radius: 30px;
	margin-top: 30px;
	margin-left: 56px;
}
.respect p {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    font-size: 11px;
    color: white;
    margin-left: 20%;
}

/*-------------------COACHES---------------------*/
.Instructors{
	background-color: #343333;
}
.COACHES{
	    margin-top: 7%;
}
.Instructors h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: Bold;
    font-size: 38px;
    color: white;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 6%;
    padding-top: 6%;
}
.Instructors hr{
	margin-inline: 34% ;
}
.Instructors h1 {
	font-family: 'Source Code Pro', monospace;
    font-weight: Bold;
    font-size: 30px;
    color: #FDFD03;
}
.Instructors h4{
	font-family: 'Source Code Pro', monospace;
    font-weight: Normal;
    font-size: 18px;
    color: white;
}
.Instructors h4{
	font-family: 'Source Code Pro', monospace;
    font-weight: Normal;
    font-size: 20px;
    color: white;
}
.Instructors p{
	font-family: "News Cycle";
    font-weight: 300;
    font-size: 14px;
    color: white;
}
.Instructors button{
	 font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-size: 13px;
    background: white;
    width: 15%;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-top: 20px;
}


.coach1{
    margin-inline: 25%;
	overflow: hidden;
}
.coach1 img{
    float: left;
    padding-right: 9%;
}
.coach1 .text{
	    padding-top: 5%;
	    padding-bottom: 10%;
}

.coach2{
    margin-inline: 25%;
    overflow: hidden;
}
.coach2 img{
     float: right;
     padding-left: 9%
}
.coach2 .text{
     text-align: right;
     padding-top: 0%;
    padding-bottom: 9%;

}


.coach3{
    margin-inline: 25%;
    overflow: hidden;
}
.coach3 img{
     float: left;
     padding-right: 9%;
    padding-bottom: 6%;
}
.coach3 .text{
	padding-top: 5%;
	padding-bottom: 7%;
}

.coach4{
    margin-inline: 26%;
    overflow: hidden;
}
.coach4 img{
     float: right;
     padding-left: 9%;
}
.coach4 .text{
     text-align: right;
     padding-top: 3%;
             padding-bottom: 5%;
}

/*------------FOOTER-------------*/

.Info{
	background-color: black;
	padding-top: 20px;
	padding-bottom: 12px;

}

.Info ul h5{
  font-family: 'Source Code Pro', monospace;
	font-weight: 300;
  font-size: 12px;
  padding-left: 15px;
  display: inline-block;
  color: white;
  margin-top: 15px;
}

.Info ul h4{
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
  font-size: 12px;
  color:#707070;
  padding-left: 60%;
  display: inline-block;
}
.Info a button{
    background-color: transparent;
    border-radius: 60px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    font-family: "Source Code Pro", monospace;
    font-weight: Extrabold;
    font-style: italic;
    color: #FDFD03;
    border: solid 1px black;
    margin-left: 90%;
    font-size: 13px;
}

